<!-- Events Section -->
<section id="events">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Evento</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/reception.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Recepción</h4>
                                <h4 class="subheading">Finca Prados Moros - 12:30</h4>
                                <h6>Parking</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Los camareros recibiran a los invitados y les acompañaran tras aparcar..</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/rings.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Ceremonia</h4>
                                <h4 class="subheading">Hora: 13.00</h4>
                                <h6>El embarcadero</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Realizaremos una ceremonia civil junto al lago de la finca. Un espacio unico.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/events/coctel.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Cóctel</h4>
                                <h4 class="subheading">Hora: 14.00</h4>
                                <h6>Jardines</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/food.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Comida</h4>
                                <h4 class="subheading">Hora: 15.30</h4>
                                <h6>Salon</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Tras el aperitivo, pasaremos el salon de la finca para comer.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/dance.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Discoteca</h4>
                                <h4 class="subheading">Hora: 18.00</h4>
                                <h6>Invernadero</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Continuaremos con la barra libre en la discoteca.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="/img/events/bye.png" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Fin del evento</h4>
                                <h4 class="subheading">Hora: 22.00</h4>
                                <h6>....</h6>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Terminaremos el evento....</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>