<!-- FAQ Section -->
<section id="FAQ" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Preguntas frecuentes</h2>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <h4 class="service-heading">¿Dónde se celebra todo? 📍</h4>
            <p class="largepad text-muted">La ceremonia, el cóctel y la comida se celebrarán en el mismo lugar: Finca Prados Moros. Encontrareis más detalles, mapas e indicaciones en la sección "Lugar" de esta web.</p>
            <h4 class="service-heading">¿A qué hora deberíamos llegar a la finca? 🚗🚕</h4>
            <p class="largepad text-muted">La ceremonia comenzará puntualmente a las 12:00h. Os recomendamos llegar unos 15–20 minutos antes para poder acomodaros con tranquilidad.</p>
            <h4 class="service-heading">¿Hay aparcamiento? 🅿️</h4>
            <p class="largepad text-muted">Si, la finca cuenta con un parking privado en el que podreis aparcar sin ningun problema. El personal os recibirá y os dará indicaciones al llegar.</p>
            <h4 class="service-heading">¿Qué me pongo? 👗</h4>
            <p class="largepad text-muted">
              ¡Buena pregunta! Es una boda de mañana, así que la idea es vestir arreglado pero cómodo.
            </p>
            <ul class="text-muted" style="padding-left: 1.2em; list-style-position: inside;">
              <li><strong>Ellas:</strong> típicamente vestidos cortos o midi, monos elegantes, o algo similar con lo que te sientas a gusto.</li>
              <li><strong>Ellos:</strong> traje claro u oscuro, corbata o pajarita, como prefieras.</li>
            </ul>
            <p class="largepad text-muted">
              Únicamente, evita el blanco (ya sabéis por qué 😉) y ten en cuenta que en octubre en la sierra de Madrid puede hacer algo de fresco, así que habrá que estar atento al tiempo unos días antes.
            </p>

            <h4 class="service-heading">¿Qué comemos? ¿Y si tengo alergias? 🍽️</h4>
            <p class="largepad text-muted">Entre el cóctel y el menú, incluimos opciones para todos los gustos. Si tienes alguna alergia o restricción alimentaria, por favor indícalo en el formulario de RSVP. El catering se adaptará sin problema.</p>

            <h4 class="service-heading">¿Y si hace frío o llueve?☔</h4>
            <p class="largepad text-muted">¡Octubre en Madrid suele ser soleado! Pero por si acaso, tendremos zonas cubiertas y calefacción si hace fresco.</p>

            <h4 class="service-heading">¿Tenéis lista de regalos? 🎁</h4>
            <p class="largepad text-muted">Lo más importante para nosotros es que vengáis y celebréis con nosotros ese día. Si aun así queréis tener un detalle, lo más habitual (como ya sabéis) es el clásico sobre. Y para quienes prefieran no llevar efectivo, hemos dejado aquí abajo nuestro número de cuenta:

            <br>[ES00 0000 0000 0000 0000 0000]</p>

            <h4 class="service-heading">¿Habrá barra libre? 🍸</h4>
            <p class="largepad text-muted">Sí, habrá barra libre durante el cóctel, banquete y discoteca para que podáis disfrutar durante todo el evento. Solo os pedimos que lo disfrutéis con sentido común para que todos lo pasemos bien.</p>

            <h4 class="service-heading">¿Dónde puedo dormir cerca? 🛏️</h4>
            <p class="largepad text-muted">Sabemos que va a ser un día largo: comer, brindar, bailar... y repetir 😉Así que entendemos perfectamente a quienes prefieran quedarse a dormir por la zona en lugar de conducir de vuelta a casa.
                En la sección “Alojamiento” hemos dejado algunas opciones de alojamiento cercanas a la finca. Hay tanto hoteles como casas rurales, para todos los gustos y presupuestos.
            </p>

            <h4 class="service-heading">¿Podemos hacer fotos y vídeos? 📸</h4>
            <p class="largepad text-muted">Sabemos que todos queremos guardar recuerdos bonitos, pero en momentos especiales como durante la ceremonia, el baile de los novios, etc. os pedimos que dejéis las fotos y vídeos en manos de los fotógrafos profesionales. Ellos estarán allí para capturarlo todo con cariño y sin interrupciones, y así también evitamos que aparezcan móviles en mitad de un momento tan especial.
                Tendremos muchas fotos preciosas después, ¡prometido! 🙏✨</p>

            <h4 class="service-heading">¿Algo a tener en cuenta si venimos con peques? 👶</h4>
            <p class="largepad text-muted">Sí, la finca es un espacio con mobiliario delicado y un lago precioso, pero que puede ser peligroso para los más pequeños. Por eso, os pedimos que los adultos responsables estéis atentos para que los niños estén siempre acompañados y seguros.</p>

            <h4 class="service-heading">¿Se puede usar pirotecnia o lanzar arroz? 🎆</h4>
            <p class="largepad text-muted">Por respeto a la finca, que es un espacio natural protegido, está totalmente prohibido el uso de pirotecnia, arroz, plásticos o cualquier material que pueda dañarla. Queremos cuidar este entorno tan especial para todos.</p>

            <h4 class="service-heading">¿Qué pasa si no puedo asistir? 😢</h4>
            <p class="largepad text-muted">Te vamos a echar mucho de menos, pero lo entendemos. Solo te pedimos que por favor lo indiques en el RSVP cuanto antes para poder organizar todo bien.</p>

            <h4 class="service-heading"></h4>
            <p class="largepad text-muted"></p>
        </div>
    </div>
</section>