<!-- Where To Stay Section -->
<section id="stay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Donde dormir</h2>
                <h3 class="section-subheading text-muted">
                    Sabemos que va a ser un día intenso: ceremonia, banquete, barra libre, baile... ¡y muchas emociones!
                    Por eso, si no tenéis una forma segura de volver a casa después de la celebración, os recomendamos valorar la opción de quedaros a dormir por la zona.
                    Hay varios alojamientos cerca de la finca —desde hoteles hasta casas rurales— para que podáis descansar tranquilos sin preocuparos por el coche o los horarios.
                    Más abajo os dejamos algunas sugerencias para que podáis organizarlo con tiempo.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        EXE VICTORIA PALACE
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Fantástico hotel de 4 estrellas en El Escorial, ubicado en un palacio real del siglo XVIII, con vistas a San Lorenzo de El Escorial, al embalse de Valmayor y a la sierra de Guadarrama.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">C. Juan de Toledo, 4, 28200 San Lorenzo de El Escorial, Madrid</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">918 96 70 66</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.eurostarshotels.com/exe-victoria-palace.html?referer_code=lb0gg00yx&utm_source=google&utm_medium=business&utm_campaign=lb0gg00yx">Reservar</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Se encuentra a 14 minutos de la finca.</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        LAS SUITES
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Las excepcionales habitaciones de San Lorenzo Suites cuentan con una zona de estar, baño completo privado y una pequeña cocina con microondas, cafetera y minibar.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">C. del Duque de Alba, 11, 28200 San Lorenzo de El Escorial, Madrid</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">917 37 09 90</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://sanlorenzosuites.com/">Reservar</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Se encuentra a 14 minutos de la finca.</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        HOTEL FLORIDA
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Las habitaciones son minimalistas y acogedoras con excelentes vistas exteriores, algunas de ellas al Monasterio de El Escorial.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">C. Floridablanca, 12, 14, 28200 San Lorenzo de El Escorial, Madrid</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">918 90 15 20</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.hflorida.com/">Reservar</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Se encuentra a 14 minutos de la finca</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        SERCOTEL HOTEL LOS LANCEROS
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">El Hotel Los Lanceros se encuentra en el centro de San Lorenzo de El escorial, frente al parque Felipe II.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">C. Calvario, 47, 49, 28200 San Lorenzo de El Escorial, Madrid</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">918 90 80 11</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://loslanceros.com/">Reservar</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Se encuentra a 14 minutos de la finca</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-md-6">
                <ul style="list-style-type:none;">
                    <li>
                        HOTEL FC VILLALBA
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Este hotel, de estilo abierto y minimalista tiene parking privado gratuito y unas impresionantes vistas a la sierra.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Carr. Navacerrada, Km 1,37, 28400 Collado Villalba, Madrid</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">918 40 74 30</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.hotelfcvillalba.com/">Reservar</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Se encuentra a 15 minutos de la finca</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        HOTEL PAX
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Magnífico hotel ubicado en Torrelodones, un entorno muy tranquilo.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">C. de Ribadeo, s/n, 28250 Torrelodones, Madrid</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">918 40 66 06</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://paxhoteles.com/hotel-pax-torrelodones/">Reservar</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Se encuentra a 18 minutos de la finca</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

                    <li>
                        HOTEL SIERRA ORIENTE
                        <ul class="fa-ul">
                            <li>
                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">El Hotel ofrece una amplia gama de alojamientos, y cuenta con conexión Wi-Fi y aparcamiento gratuitos.</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">C. Prado de la Venta, 23, 28440 Guadarrama, Madrid, España</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">918 54 14 54</span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://hotelsierraoriente.com-hotel.com/es/">Reservar</a></span>
                            </li>
                            <li>
                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Se encuentra a 11 minutos de la finca</span>
                            </li>
                            <li><br></li>
                        </ul>
                    </li>

<!--                    <li>-->
<!--                        Name-->
<!--                        <ul class="fa-ul">-->
<!--                            <li>-->
<!--                                <span class="fa-li"><i class="fa fa-home"></i></span><span class="text-muted plist">Description</span>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="fa-li"><i class="fa fa-map-marker"></i></span><span class="text-muted plist">Address</span>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="fa-li"><i class="fa fa-phone"></i></span><span class="text-muted plist">Phone number</span>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="fa-li"><i class="fas fa-external-link-alt"></i></span><span class="plist"><a href="https://www.airbnb.com">https://www.airbnb.com/</a></span>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <span class="fa-li"><i class="fa fa-car"></i></span><span class="text-muted plist">Distance from venue</span>-->
<!--                            </li>-->
<!--                            <li><br></li>-->
<!--                        </ul>-->
<!--                    </li>-->
                </ul>
            </div>
        </div>
    </div>
</section>