<!-- Venue Section -->
<section id="venue" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Finca Prados Moros</h2>
                <h3 class="section-subheading text-muted">Nos hace muchísima ilusión compartir con vosotros que celebraremos nuestro gran día en Finca Prados Moros, un lugar mágico que encontramos a tan solo 35 minutos de Madrid, en plena Sierra de Guadarrama. Para que os sea más fácil llegar, hemos incluido un mapa interactivo justo aquí abajo con la ubicación exacta de la finca. Está muy bien señalizada y es accesible por la A6 (salida 47), así que esperamos que no tengáis ningún problema para encontrarla.</h3>
            </div>
        </div>
        <style>
        .google-maps {
            position: relative;
            padding-bottom: 35%; // This is the aspect ratio
            height: 0;
            overflow: hidden;
        }
        .google-maps iframe {
            position: absolute;
            top: 0;
            left: 0%;
            width: 100% !important;
            height: 100% !important;
        }
        </style>

        <div class="google-maps">
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6053.848718469628!2d-4.09673262905242!3d40.653597757812996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd410c9083866791%3A0x73d45adc37c29a00!2sFinca%20Prados%20Moros!5e0!3m2!1ses!2sde!4v1749412404136!5m2!1ses!2sde" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</section>